<h1 style="text-align: center;">Welcome to WickedCool Blog!</h1>

<div class="row">
  <%= form_for(@post) do |f| %>
    <div class="input-field col s12">
      <%= f.text_area :content, placeholder: "Submit a blog post...", id: "post", type: "text" %>
    </div>
     <%= f.submit "Post", id: "submit", class: "btn waves-effect waves-light" %>
  <% end %>
</div>

<div class="row">
  <div class="col offset-s3 s6">
    <ul class="collection">
      <%= render @posts %>
    </ul>
  </div>
</div>
